<!DOCTYPE html>
<html>
  <head>
     <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta charset="utf-8">
    <title>aww</title>
    <link rel="stylesheet" href="css/main.css">
  </head>
  <body>
    <div id="app">
      <div tabindex="0" @keyup.left="active - 1" @keyup.right="active + 1" v-on:click="active = -1" v-if="active > -1" id="show">
        <span class="helper"></span><img v-if="posts[active].type == 'image'" :src="posts[active].show">
        <video v-else :src="posts[active].show" autoplay loop></video>
      </div>
      <div id="posts-container">
        <div v-on:click="active = index" v-for="(post, index) in posts" class="post">
          <img v-if="post.type == 'image'" :style="{ width: post.nwidth + 'px', height: post.nheight + 'px' }" :src="post.thumb">
          <video v-else :style="{ width: post.nwidth + 'px', height: post.nheight + 'px' }" :src="post.thumb" autoplay loop></video>
        </div>
      </div>
      <div id="more">&nbsp;</div>
    </div>
    <script src="js/vue.js" charset="utf-8"></script>
    <script src="js/axios.min.js" charset="utf-8"></script>
    <script src="js/main.js" charset="utf-8"></script>
  </body>
</html>
